<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->
  <arg name="robot_name" default=""/> <!-- robot_name for use NAMESPACE -->
    <!-- You can change control program  -->

    <include file="$(find burger_navigation)/launch/burger_navigation.launch"/>

    <!-- sample program node -->

    <node pkg="burger_war" type="MyRobot.py" name="myrobot" output="screen"/>

    <!-- END sample program node -->
    <include file="$(find burger_war)/launch/obstacle_detector.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- End of your space  -->
</launch>
